body{
    margin: 0 auto;
    background-color: pink;
    line-height: 20px;
    
}


header> img{
    height: 80px;
    background-color: pink;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-family: 'Sacramento', cursive;
}

.form{
text-align: center;

}
main{
    width: 60%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}
p{
    padding-left: 10px;
    
}
a{
    padding-left: 10px;
    text-align: center;
}
h2{
    text-align: center;
}

.couple{
    height:100px;
}